<!DOCTYPE html>
<html>
<head>
    <title>Broker kabinet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<div id="app">

    <div class="tititi">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <div style="display: flex; align-items: center;">
                <img src="logo.jpg" style="height: 40px; max-width: 40px; margin-right: 10px; border-radius: 10px;">
                <p class="navbar-brand" style="font-family: cursive;">HBA-LeadCRM</p>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/logout" class="text-success">Выйти</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="broker-div">
            <div class="mb-5 mt-5" style="margin-left: 10%; width: 80%;">
                <h3 class="text-light">Личный кабинет <i style="color: rgb(218, 182, 22); font-size: 34px;">{{ userName }}</i></h3>
                <label class="text-light">ты щяс в <strong :style="{'color' : userStatus ? 'green' : 'red'}">{{ userStatus ? 'online' : 'offline' }}</strong></label>
                <input type="checkbox" v-model="userStatus" @change="updateStatus">
                <p class="text-light">Если ты перестанешь работать то убери галку верху и если ты начнешь работать то поставь галку верху</p>
            </div>

            <div class="table-container">
                <table class="table table-striped table-bordered" style="background-color: rgb(21, 20, 20); color: white;">
                    <thead class="bg-warning text-light">
                    <tr>
                        <th class="table-column2">Скопировать номер</th>
                        <th class="table-column2">lead date созданого</th>
                        <th class="table-column2">Телефон</th>
                        <th class="table-column2">Имя клиента</th>
                        <th class="table-column2">Комментарий</th>
                        <th class="table-column2">обработан ?</th>
                        <!--<th>Actions</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(lead, index) in leads" :key="lead.phone" :style="{'background-color': lead.isSend ? 'rgba(0, 0, 0, 0.9)' : '', 'color' : lead.isSend ? 'white' : '' }">
                        <td @click="copyToClipboard(lead.phone)">
                            <button class="btn btn-outline-warning">Скопировать</button>
                        </td>
                        <td>{{ lead.date }}</td>
                        <td>{{ lead.phone }}</td>
                        <td>{{ lead.client_name }}</td>
                        <td>{{ lead.comment }}</td>
                        <td>
                            <input type="checkbox" v-model="lead.isSend" @change="updateLead(index, lead)">
                            <!-- <button
                            class="btn"
                            :class="getColorSend(lead.isSend)"
                            @click="lead.isSend =! lead.isSend; updateLead(index, lead)">
                                {{ lead.isSend? 'Да' : 'Нет' }}</button> -->
                            <!--<span :style="{'color' : lead.isSend? 'green' : 'red'}">{{ lead.isSend? 'Да' : 'Нет' }}</span>-->
                        </td>
                        <!--<td>
                            <button class="btn btn-primary btn-sm" @click="updateLead(index, lead)">Update</button>
                        </td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-container mt-5">
                <h5 class="text-light">Смотри тут будет таблица с лидами у которых не назначен брокер она таблица была видна 
                всем бркоерам так что когда ты ее возьмеш лид из нее он будет твой а у других он не покажется так работает логика</h5>
                <table class="table table-striped mt-5 table-bordered" style="background-color: rgb(21, 20, 20); color: white;">
                    <thead class="bg-warning text-light">
                        <tr>
                            <th class="table-column2">Взять лид?</th>
                            <th class="table-column">lead date созданого</th>
                            <th class="table-column2">Телефон</th>
                            <th class="table-column2">Имя клиента</th>
                            <th class="table-column">Комментарий</th>
                            <!--<th>Actions</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(lead, index) in noBrokerLeads" :key="lead.phone" :style="{'background-color': lead.isSend ? 'rgba(0, 0, 0, 0.9)' : '', 'color' : lead.isSend ? 'white' : '' }">
                            <td>
                                <button class="btn btn-outline-warning" @click="getLeadToSelf(index, login)">Взять лид</button>
                            </td>
                            <td>{{ lead.date }}</td>
                            <td>{{ lead.phone }}</td>
                            <td>{{ lead.client_name }}</td>
                            <td>{{ lead.comment }}</td>
                        </tr>
                        </tbody>
                </table>
            </div>
            <div class="mt-5 container-fluid">
                <h4 class="text-light">Прогресс брокера</h4>
                <div class="progress mt-3 mb-5">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated"
                        :style="{'width': this.leadProgress + '%'}"
                        role="progressbar"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        >
                        {{ leadProgress ? leadProgress : "Нет лидов" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>

body {
    background-color: rgb(23, 22, 22);
}

.broker-div {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 5%;
    padding: 20px 20px;
    width: 90%;
    border-radius: 30px;
    border-color: rgb(214, 37, 37);
    -webkit-box-shadow: 0px 2px 11px 35px rgba(190, 164, 31, 0.319);
    -moz-box-shadow: 0px 2px 11px 35px rgba(190, 164, 31, 0.319);
    box-shadow: 0px 2px 23px 25px rgba(190, 164, 31, 0.319);
}
    
.table-container {
    width: 100%;
    overflow-x: auto;
    margin-left: 10%;
    width: 80%;
}

.table-column {
    white-space: nowrap;
    min-width: 300px;
}

.table-column2 {
    white-space: nowrap;
    width: 100px;
}

.container-fluid {
    margin-left: 5%;
    width: 90%;
}

@media (min-width: 480px) {
    .container-fluid {
        margin-left: 10%;
        width: 80%;
    }
}

</style>

<script>
    new Vue({
        el: '#app',
        data: {
            userName: '',
            leads: [],
            noBrokerLeads: [],
            userStatus: false,
            login: '',
        },
        mounted() {
            this.fetchProfile();
            this.fetchLeads();
            this.fetchNoBrokerLeads()
        },
        computed: {
            leadProgress() {
                let totalLeads = this.leads.length;
                let processedLeads = this.leads.filter(lead => lead.isSend).length;
                return Math.round((processedLeads / totalLeads) * 100);
            }
        },
        methods: {
            getColorSend(item) {
                if (item == true) {
                    return "btn-success"
                } else if (item == false) {
                    return "btn-danger"
                }
            },
            getLeadToSelf(index, login) {
                console.log(index, login)
                fetch(`/api/broker/nonleads/${index}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ login: login })
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Lead updated successfully');
                    } else {
                        console.error('Failed to update lead');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
                this.fetchLeads();
                this.fetchNoBrokerLeads()
            },
            fetchProfile() {
                fetch('/api/broker/profile')
                    .then(response => response.json())
                    .then(data => {
                        this.userName = data.name;
                        this.userStatus = data.status;
                        this.login = data.login
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            },
            fetchLeads() {
                fetch('/api/broker/leads')
                    .then(response => response.json())
                    .then(data => {
                        this.leads = data;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            },
            fetchNoBrokerLeads() {
                fetch('/api/broker/nonLeads')
                    .then(resp => resp.json())
                    .then(data => {
                        this.noBrokerLeads = data
                    })
                    .catch(err => {
                        console.log('Пизда: ', err)
                    })
            },
            updateStatus() {
                fetch('/api/broker/profile', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({status: this.userStatus})
                })
                    .then(response => {
                        if (response.ok) {
                            console.log('Status updated successfully');
                        } else {
                            console.error('Failed to update status');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            },
            updateLead(index, lead) {
                fetch(`/api/broker/leads/${index}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ isSend: lead.isSend })
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Lead updated successfully');
                    } else {
                        console.error('Failed to update lead');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            },
            copyToClipboard(phone) {
                const input = document.createElement('input');
                input.value = phone;
                document.body.appendChild(input);
                input.select();
                document.execCommand('copy');
                input.remove();
                alert(`Номер телефон скопирован в буфер обмена ${phone}`);
            }
        }
    });
</script>
</body>
</html>