<!DOCTYPE html>
<html>
<head>
    <title>Leadorub kabinet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="logo.jpg" type="image/x-icon">
</head>
<body>
<div id="app">
    
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand">
            <img src="logo.jpg" style="height: 40px; max-width: 40px; margin-right: 10px; border-radius: 10px;">
            <span>HBA-LeadCRM</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" @click="activeTab = 'skorozvon'">
                        <i class="fa-chart-pie text-warning"></i>
                        <span>Общий результат</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="activeTab = 'statistics'">
                        <i class="fas fa-chart-bar text-info"></i> 
                        <span>Статистика ледоруба</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @click="activeTab = 'createLead'">
                        <i class="fas fa-plus-circle text-success"></i>
                        <span>Создать лид</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fas fa-sign-out-alt text-danger"></i>
                        <span>Выйти</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div v-if="activeTab == 'statistics'">
        <div class="form-container mt-5">

            <div class="mb-5 mt-3">
                <h2 class="text-light">Личный кабинет: <i style="font-family: cursive; font-size: 30px;" class="text-info">{{ userName }}</i></h2>
            </div>

            <h2 class="text-warning mt-5 mb-3">Статистика лидоруба</h2>
            <h6 class="text-light">Лидов за прошлую неделю <span class="text-primary">{{ leadLastWeek }} лидов</span></h6>
            <h6 class="text-light">Лидов за эту неделю <span class="text-primary">{{ leadThisWeek }} лидов</span></h6>
            <h6 class="text-light">Лидов за этот день <span class="text-primary">{{ leadToday }} лидов</span></h6>
        </div>
    </div>

    <div v-if="activeTab == 'createLead'">
        <div class="form-container mt-5">

            <div class="mb-5 mt-3">
                <h2 class="text-light">Личный кабинет: <i style="font-family: cursive; font-size: 30px;" class="text-info">{{ userName }}</i></h2>
            </div>

            <form @submit.prevent="createLead">
                <div class="form-group mt-5">
                    <label for="phone" class="text-light">Телефон:</label>
                    <input type="text" class="form-control bg-dark text-light inputer" id="phone" v-model="newLead.phone" required>
                </div>
                <div class="form-group">
                    <label for="client_name" class="text-light">Имя клиента:</label>
                    <input type="text" class="form-control bg-dark text-light inputer" id="client_name" v-model="newLead.client_name" required>
                </div>
                <div class="form-group">
                    <label for="comment" class="text-light">Коментарий к звонку:</label>
                    <textarea class="form-control bg-dark text-light textareaer" id="comment" v-model="newLead.comment" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary">Создать лид</button>
            </form>
            <div v-if="message" class="mt-3 alert bg-dark text-primary">{{ message }}</div>
        </div>
    </div>


    <div v-if="activeTab == 'skorozvon'">
        <div class="form-container mt-5">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Сегодня</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Неделя</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Месяц</a>
                </li>    -->
            </ul>

        
            <div class="tab-content">


                <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="d-flex">
                        <input type="date" v-model="tableTime" class="form-control bg-dark text-light mt-5 mb-3 dateInput">
                        <button @click="getCallsSkorozvon()" class="btn btn-outline-light mt-5 mb-3 ml-3">Применить</button>
                    </div>
                    <h3 class="text-light">Таблица показателей за {{ tableTime }}</h3>
                    <div class="table-container mt-5 mb-5" v-if="!tableLoader">
                        <table class="table table-bordered table-striped table-dark">
                            <thead class="bg-danger text-light">
                                <tr>
                                    <th>Имя</th>
                                    <th>Звонки</th>
                                    <th>Лиды</th>
                                    <th>Бонус
                                        <button type="button" class="btn btn-danger" @click="showBonusInfo()">
                                            <i class="fas fa-question-circle fa-lg" style="color: white;"></i>
                                        </button>
                                    </th>
                                    <th>Зарплата
                                        <button type="button" class="btn btn-danger" @click="showSalaryInfo()">
                                            <i class="fas fa-question-circle fa-lg" style="color: white;"></i>
                                        </button>
                                    </th> 
                                    <th>Итог
                                        <button type="button" class="btn btn-danger" @click="showSalaryInfo2()">
                                            <i class="fas fa-question-circle fa-lg" style="color: white;"></i>
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, idx) in callsData" v-if="item.username != 'Не определено' && item.username != 'Симаков Владимир Станиславович' " :key="idx">
                                    <th>{{ item.username }}</th>
                                    <th>{{ item.outgoing + item.incoming }}</th>
                                    <th>{{ item.leads }}</th>
                                    <th>{{ getBonusByCalls(item) }}</th>
                                    <th>{{ getSalaryByCall(item) }}</th>
                                    <th>{{ getSalaryByCall(item) + getBonusByCalls(item) }}</th>
                                </tr>
                                <tr>
                                    <th class="text-info">Total</th>
                                    <th class="text-info">{{ getTotalCalls(callsData) }}</th>
                                    <th class="text-info">{{ getTotalLeads(callsData) }}</th>
                                    <th class="text-info">{{ getTotalBonus(callsData) }}</th>
                                    <th class="text-info">{{ getTotalSalary(callsData) }}</th>
                                    <th class="text-info">{{ getTotalSalary(callsData) + getTotalBonus(callsData) }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center mt-5 mb-5" v-if="tableLoader">
                        <strong class="text-light">Загрузка таблицы</strong>
                        <div class="spinner-border ml-auto text-info" role="status" aria-hidden="true"></div>
                    </div>
                </div>


                <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="text-light mt-5">Таблица результатов за неделю</h3>
                    <div class="table-container mt-5 mb-5" v-if="!weekDataArrayLoading">
                        <table class="table table-bordered table-striped table-dark">
                            <thead class="bg-danger text-light">
                                <tr>
                                    <th>Имя</th>
                                    <th>Звонки</th>
                                    <th>Лиды</th>
                                    <th>Бонус
                                        <button type="button" class="btn btn-danger" @click="showBonusInfo()">
                                            <i class="fas fa-question-circle fa-lg" style="color: white;"></i>
                                        </button>
                                    </th>
                                    <th>Зарплата
                                        <button type="button" class="btn btn-danger" @click="showSalaryInfo">
                                            <i class="fas fa-question-circle fa-lg" style="color: white;"></i>
                                        </button>
                                    </th>
                                    <th>Итог</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, idx) in weekDataArray" v-if="item.username != 'Не определено' && item.username != 'Симаков Владимир Станиславович' " :key="idx">
                                    <th>{{ item.username }}</th>
                                    <th>{{ item.outgoing + item.incoming }}</th>
                                    <th>{{ item.leads }}</th>
                                    <th>{{ getBonusByCalls(item) }}</th>
                                    <th>{{ getSalaryByCall(item) }}</th>
                                    <th>{{ getSalaryByCall(item) + getBonusByCalls(item) }}</th>
                                </tr>
                                <tr>
                                    <th class="text-info">Total</th>
                                    <th class="text-info">{{ getTotalCalls(weekDataArray) }}</th>
                                    <th class="text-info">{{ getTotalLeads(weekDataArray) }}</th>
                                    <th class="text-info">{{ getTotalBonus(weekDataArray) }}</th>
                                    <th class="text-info">{{ getTotalSalary(weekDataArray) }}</th>
                                    <th class="text-info">{{ getTotalSalary(weekDataArray) + getTotalBonus(weekDataArray) }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center mt-5 mb-5" v-if="weekDataArrayLoading">
                        <strong class="text-light">Загрузка таблицы</strong>
                        <div class="spinner-border ml-auto text-info" role="status" aria-hidden="true"></div>
                    </div>
                </div>


                <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                    <h3 class="text-light mt-5">Таблица результатов за Месяц</h3>
                    <div class="table-container mt-5 mb-5" v-if="!monthDataArrayLoading">
                        <table class="table table-bordered table-striped table-dark">
                            <thead class="bg-danger text-light">
                                <tr>
                                    <th>Имя</th>
                                    <th>Звонки</th>
                                    <th>Лиды</th>
                                    <th>Бонус
                                        <button type="button" class="btn btn-danger" @click="showBonusInfo()">
                                            <i class="fas fa-question-circle fa-lg" style="color: white;"></i>
                                        </button>
                                    </th>
                                    <th>Зарплата
                                        <button type="button" class="btn btn-danger" @click="showSalaryInfo">
                                            <i class="fas fa-question-circle fa-lg" style="color: white;"></i>
                                        </button>
                                    </th>
                                    <th>Итог</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, idx) in monthDataArray" v-if="item.username != 'Не определено' && item.username != 'Симаков Владимир Станиславович' " :key="idx">
                                    <th>{{ item.username }}</th>
                                    <th>{{ item.outgoing + item.incoming }}</th>
                                    <th>{{ item.leads }}</th>
                                    <th>{{ getBonusByCalls(item) }}</th>
                                    <th>{{ getSalaryByCall(item) }}</th>
                                    <th>{{ getSalaryByCall(item) + getBonusByCalls(item) }}</th>
                                </tr>
                                <tr>
                                    <th class="text-info">Total</th>
                                    <th class="text-info">{{ getTotalCalls(monthDataArray) }}</th>
                                    <th class="text-info">{{ getTotalLeads(monthDataArray) }}</th>
                                    <th class="text-info">{{ getTotalBonus(monthDataArray) }}</th>
                                    <th class="text-info">{{ getTotalSalary(monthDataArray) }}</th>
                                    <th class="text-info">{{ getTotalSalary(monthDataArray) + getTotalBonus(monthDataArray) }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center mt-5 mb-5" v-if="monthDataArrayLoading">
                        <strong class="text-light">Загрузка таблицы</strong>
                        <div class="spinner-border ml-auto text-info" role="status" aria-hidden="true"></div>
                    </div>
                </div>


            </div>

            <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                    <h5 class="modal-title text-info" id="infoModalLabel">Информация о Зарплате</h5>
                    <button type="button" class="close text-info" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body bg-dark">
                        <p class="text-light">Заплата = звонки * 2 + лиды * 125</p>
                    </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="infoSalaryModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                    <h5 class="modal-title text-info" id="infoModalLabel">Информация об Итоге</h5>
                    <button type="button" class="close text-info" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body bg-dark">
                        <p class="text-light">Зарплата + бонус</p>
                    </div>
                </div>
                </div>
            </div>

            <div class="modal fade" id="infoModalBonus" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                    <h5 class="modal-title text-info" id="infoModalLabel">Информация о Бонусах</h5>
                    <button type="button" class="close text-info" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body bg-dark">
                        <p class="text-light">Чтобы получить бонус звони больше и делай переводы больше</p>
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>


</div>

<style>

body {
    background-color: black;
    overflow-x: hidden;
}
    
.form-container {
    margin-left: 5%;
    padding: 20px 20px;
    width: 90%;
    border-radius: 30px;
    border-color: rgb(214, 37, 37);
    -webkit-box-shadow: 0px 2px 11px 35px rgba(37, 77, 187, 0.319);
    -moz-box-shadow: 0px 2px 11px 35px rgba(37, 77, 187, 0.319);
    box-shadow: 0px 2px 23px 25px rgba(37, 77, 187, 0.319);
}

.nav-item:hover {
    background-color: rgb(42, 41, 41);
}

.dateInput {
    width: 200px;
}

.inputer {
    width: 300px;
}

.textareaer {
    width: 600px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

@media (max-width: 480px) {
    .btn-success {
        width: 100%;
    }
    .form-container {
        margin-left: 5%;
        width: 90%;
    }
    .textareaer {
        width: 100%;
    }
    .inputer {
        width: 100%;
    }
}

</style>

<script>

function updateCallsWithLeads(callsData, leadsData, tableTime) {
    if (!Array.isArray(callsData) || !Array.isArray(leadsData) || typeof tableTime !== 'string') {
        console.error('Некорректные входные данные для updateCallsWithLeads.')
        return callsData
    }

    const updatedCallsData = JSON.parse(JSON.stringify(callsData))

    const userMap = new Map()
    updatedCallsData.forEach(user => {
        const cleanedUsername = user.username ? user.username.replace(/\s+/g, '').toLowerCase() : ''
        if (cleanedUsername) {
            userMap.set(cleanedUsername, user);
            if (user.leads === undefined) {
                user.leads = 0;
            }
        }
    })

    leadsData.forEach(lead => {
        if (lead.starter && lead.date && lead.date === tableTime) {
            const cleanedStarter = lead.starter.replace(/\s+/g, '').toLowerCase();
            const user = userMap.get(cleanedStarter);
            if (user) {
                user.leads++;
            }
        }
    })
    return updatedCallsData
}

function updateCallsWithLeadsWeek(callsData, leadsData, tableTimeArray) {
    if (
        !Array.isArray(callsData) ||
        !Array.isArray(leadsData) ||
        !Array.isArray(tableTimeArray)
    ) {
        console.error('Некорректные входные данные для updateCallsWithLeads.');
        return callsData;
    }

    const updatedCallsData = JSON.parse(JSON.stringify(callsData));

    const userMap = new Map();
    updatedCallsData.forEach(user => {
        const cleanedUsername = user.username ? user.username.replace(/\s+/g, '').toLowerCase() : '';
        if (cleanedUsername) {
            userMap.set(cleanedUsername, user);
            if (user.leads === undefined) {
                user.leads = 0;
            }
        }
    });

    // Обрабатываем лиды
    leadsData.forEach(lead => {
        if (lead.starter && lead.date && tableTimeArray.includes(lead.date)) {
            const cleanedStarter = lead.starter.replace(/\s+/g, '').toLowerCase();
            const user = userMap.get(cleanedStarter);
            if (user) {
                user.leads = (user.leads || 0) + 1;
            }
        }
    });

    return updatedCallsData;
}



    new Vue({
        el: '#app',
        data: {
            newLead: {
                phone: '+7',
                client_name: '',
                comment: ''
            },
            message: null,
            userName: "",
            userLogin: "",
            allLeads: null,
            // данные для получения кол-во лидов за промежутки времени
            leadToday: 0,
            leadLastWeek: 0,
            leadThisWeek: 0,

            leadTodayWidth: 0,
            leadThisWeekWidth: 0,
            leadLastWeekWidth: 0,
            activeTab: 'createLead',


            callsData: [],
            tableLoader: false,
            tableTime: dayjs(new Date).format('YYYY-MM-DD'),
            weekDataResponse: [],
            weekDataArrayLoading: false,
            monthDataResponse: [],
            monthDataArrayLoading: false,
            monthDataArray: [],

            koefCalls: 2,
            koefLeads: 125,
            koefBonusCalls: 0.0001,
            koefBonusLeads: 0.01,
        },
        async mounted() {
            await this.fetchProfile()
            await this.fetchAllLeads()
            await this.fetchLeads()
            await this.fetchUsers()
            await this.getCallsSkorozvon()
            await this.getCallsWeekSkorozvon()
            await this.getCallsMonthSkorozvon()
        },
        methods: {
            createLead() {
                fetch('/api/leadorub/leads', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.newLead)
                })
                .then(response => {
                    if (response.ok) {
                        this.message = 'Лид успешно создан!';
                        this.newLead = {phone: '+7', client_name: '', comment: ''};
                    } else {
                        this.message = 'Ошибка создания лида.';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    this.message = 'Ошибка при отправке запроса.';
                });
            },
            fetchUsers() {
                fetch('/api/admin/users')
                .then(response => response.json())
                .then(data => {
                    this.users = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            },
            async getCallsSkorozvon() {
                this.tableLoader = true

                try {
                    const response = await fetch(`/skorozvon/get/calls/${dayjs(this.tableTime).format('YYYY-MM-DD')}`, {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    });

                    if (!response.ok) {
                        const errorData = await response.json()
                        console.error('Ошибка при получении данных:', response.status, errorData)
                        this.callsData = []
                        this.tableLoader = false
                        return
                    }

                    const data = await response.json();

                    if (!data || !data.calls || !Array.isArray(data.calls)) {
                        console.warn('Получены некорректные данные или массив звонков пуст/отсутствует.');
                        this.callsData = []
                        this.tableLoader = false
                        return
                    }

                    const rawCalls = data.calls

                    const groupedCalls = {}

                    rawCalls.forEach(call => {
                        const username = call.username
                        const callType = call.call_type

                        if (!groupedCalls[username]) {
                            groupedCalls[username] = {
                                username: username,
                                'incoming': 0,
                                'outgoing': 0,
                                'transfered': 0,
                                'missed' : 0,
                            }
                        }

                        if (groupedCalls[username].hasOwnProperty(callType)) {
                            groupedCalls[username][callType]++
                        } else {
                            console.warn(`Встречен неизвестный тип звонка: ${callType} для пользователя ${username}`)
                        }
                    });

                    this.callsData = Object.values(groupedCalls);

                    console.log("Сгруппированные данные звонков:", this.callsData);

                } catch (error) {
                    console.error('Ошибка при выполнении запроса или обработке данных:', error);
                    this.callsData = []
                } finally {
                    this.tableLoader = false
                }


                this.callsData = updateCallsWithLeads(this.callsData, this.leads, this.tableTime)
            },
            async getCallsWeekSkorozvon() {
                try {

                    this.weekDataArrayLoading = true
                    let weekDataArray = []

                    const response = await fetch(`/skorozvon/get/weekCalls/${dayjs(new Date).startOf('week').format('YYYY-MM-DD')}`, {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    }).then(resp => resp.json()).then(data => this.weekDataResponse = data)

                    let someData = this.weekDataResponse.data

                    someData.forEach((w) => {
                        w.calls.forEach((item) => {
                            weekDataArray.push(item)
                        })
                    })

                    const groupedCalls = {}

                    weekDataArray.forEach(call => {
                        const username = call.username
                        const callType = call.call_type

                        if (!groupedCalls[username]) {
                            groupedCalls[username] = {
                                username: username,
                                'incoming': 0,
                                'outgoing': 0,
                                'transfered': 0,
                                'missed' : 0,
                            }
                        }

                        if (groupedCalls[username].hasOwnProperty(callType)) {
                            groupedCalls[username][callType]++
                        } else {
                            console.warn(`Встречен неизвестный тип звонка: ${callType} для пользователя ${username}`)
                        }
                    });

                    const today = new Date()
                    const currentDay = today.getDay()
                    const daysSinceMonday = (currentDay + 6) % 7
                    const mondayDate = new Date(today)
                    mondayDate.setDate(today.getDate() - daysSinceMonday)

                    const timeDateArray = [];
                    const currentDate = new Date(mondayDate);

                    while (currentDate <= today) {
                        const year = currentDate.getFullYear()
                        const month = String(currentDate.getMonth() + 1).padStart(2, '0')
                        const day = String(currentDate.getDate()).padStart(2, '0')
                        const formattedDate = `${year}-${month}-${day}`
                        timeDateArray.push(formattedDate)
                        currentDate.setDate(currentDate.getDate() + 1)
                    }

                    this.weekDataArray = Object.values(groupedCalls);
                    this.weekDataArray = updateCallsWithLeadsWeek(this.weekDataArray, this.leads, timeDateArray)

                    console.log(this.weekDataArray)

                    this.weekDataArrayLoading = false

                } catch (e) {
                    console.log('error ...' , e)
                }

            },
            async getCallsMonthSkorozvon() {
                try {
                    this.monthDataArrayLoading = true;
                    let monthDataArray = [];

                    const startOfMonthStr = dayjs().startOf('month').format('YYYY-MM-DD');
                    const response = await fetch(`/skorozvon/get/monthCalls/${startOfMonthStr}`, {
                        method: "GET",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                    });
                    const data = await response.json();

                    this.monthDataResponse = data;

                    data.data.forEach(w => {
                        w.calls.forEach(item => {
                            monthDataArray.push(item);
                        });
                    });

                    const groupedCalls = {};
                    monthDataArray.forEach(call => {
                        const username = call.username;
                        const callType = call.call_type;

                        if (!groupedCalls[username]) {
                            groupedCalls[username] = {
                                username: username,
                                'incoming': 0,
                                'outgoing': 0,
                                'transfered': 0,
                                'missed': 0,
                            };
                        }

                        if (groupedCalls[username].hasOwnProperty(callType)) {
                            groupedCalls[username][callType]++;
                        } else {
                            console.warn(`Встречен неизвестный тип звонка: ${callType} для пользователя ${username}`);
                        }
                    });

                    const today = new Date();
                    const startOfMonth = dayjs().startOf('month');
                    const currentDate = new Date(startOfMonth);

                    const dateArray = [];
                    while (currentDate <= today) {
                        const year = currentDate.getFullYear();
                        const month = String(currentDate.getMonth() + 1).padStart(2, '0');
                        const day = String(currentDate.getDate()).padStart(2, '0');
                        const formattedDate = `${year}-${month}-${day}`;
                        dateArray.push(formattedDate);
                        currentDate.setDate(currentDate.getDate() + 1);
                    }

                    this.monthDataArray = Object.values(groupedCalls);
                    this.monthDataArray = updateCallsWithLeadsWeek(this.monthDataArray, this.leads, dateArray);

                    console.log(this.monthDataArray);
                    this.monthDataArrayLoading = false;
                } catch (e) {
                    console.log('error ...', e);
                    this.monthDataArrayLoading = false;
                }
            },
            fetchProfile() {
                fetch('/api/broker/profile')
                    .then(response => response.json())
                    .then(data => {
                        this.userName = data[0].name;
                        this.userLogin = data[0].login
                    })
                    .catch(error => {
                        console.error('Error:', error);
                });
            },
            fetchAllLeads() {

                fetch('/api/leads').then(response => response.json()).then(data => {
                    data.forEach(e => {
                        e.date = dayjs(e.date).format('YYYY-MM-DD')
                    })
                    this.leads = data;
                
                    const starters = [];
                    const counts = [];

                    this.leads.forEach((r) => {
                        const starter = r.starter

                        const index = starters.indexOf(starter);
                        
                        if (index === -1) {
                            starters.push(starter);
                            counts.push(1);
                        } else {
                            counts[index]++;
                        }
                    })

                    this.userLeadsArray = starters
                    this.userCountArray = counts

                }).catch(error => {
                    console.error('Error:', error);
                });
            },
            async fetchLeads() {
                await fetch('/api/leads')
                .then(response => response.json())
                .then(data => {
                    this.allLeads = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
                

                let dayofThisWeek = dayjs(new Date).day()

                let startLastWeek = dayjs(dayjs(new Date).subtract(6 + dayofThisWeek, 'days')).format('YYYY-MM-DD')
                let startNowWeek = dayjs(dayjs(new Date).subtract(dayofThisWeek - 1, 'days')).format("YYYY-MM-DD")
                
                let endNowWeek = dayjs(dayjs(new Date).day(7)).format('YYYY-MM-DD')
                let endLastWeek = dayjs(dayjs(new Date).subtract(dayofThisWeek, 'days')).format('YYYY-MM-DD')

                for (let i = 0; i < this.allLeads.length; i++) {

                    if (this.allLeads[i]['starter'] == this.userName || this.allLeads[i]['starter'] == this.userLogin) {
                        if (this.allLeads[i]['date'] == dayjs(new Date).format("YYYY-MM-DD")) {
                            this.leadToday++
                            this.leadThisWeek++
                        } else if (this.allLeads[i]['date'] <= endNowWeek && this.allLeads[i]['date'] >= startNowWeek) {
                            this.leadThisWeek ++ 
                        } if (this.allLeads[i]['date'] >= startLastWeek && this.allLeads[i]['date'] <= endLastWeek) {
                            this.leadLastWeek++
                        }
                    }
                }

                this.leadLastWeekWidth = this.leadLastWeek / (this.leadLastWeek + this.leadThisWeek + this.leadToday) * 100
                this.leadThisWeekWidth = this.leadThisWeek / (this.leadLastWeek + this.leadThisWeek + this.leadToday) * 100
                this.leadTodayWidth = this.leadToday / (this.leadLastWeek + this.leadThisWeek + this.leadToday) * 100
            },
            getSalaryByCall(item) {
                // let salary = Math.floor(item.outgoing * (this.koefN + item.outgoing * this.koefX + item.leads * this.koefY) + item.leads * (this.cost * this.koefZ))
                // return salary

                let salary = Math.floor((item.incoming + item.outgoing) * this.koefCalls + item.leads * this.koefLeads)
                return salary

            },
            getBonusByCalls(item) {
                //let bonus = Math.floor((item.outgoing + item.incoming) * ((item.outgoing + item.incoming) * this.koefBonusCalls + item.leads * this.koefBonusLeads))

                let bonus = Math.floor( (item.incoming + item.outgoing) * ( ( (item.incoming + item.outgoing) * this.koefBonusCalls  ) +  (item.leads * this.koefBonusLeads)  )  )

                return bonus
            },
            getTotalLeads(array) {
                let allLeads = 0

                array.forEach((e) => {
                    allLeads += e.leads
                })

                return allLeads
            },
            getTotalCalls(array) {
                let allCalls = 0

                console.log(array)

                array.forEach((e) => {
                    if (e.username !== "Не определено" && e.username !== "Симаков Владимир Станиславович") {
                        allCalls += e.outgoing
                        allCalls += e.incoming
                    }
                })

                return allCalls
            },
            getTotalSalary(array) {
                let allSalary = 0

                array.forEach((e) => {
                    if (e.username !== "Не определено" && e.username !== "Симаков Владимир Станиславович") { 
                        allSalary += this.getSalaryByCall(e)
                    }
                })

                return allSalary
            },
            getTotalBonus(array) {
                let allBonus = 0

                array.forEach((q) => {
                    if (q.username !== "Не определено" && q.username !== "Симаков Владимир Станиславович") {
                        allBonus += this.getBonusByCalls(q)
                    }
                })
                return allBonus
            },
            showSalaryInfo() {
                $('#infoModal').modal('show');
            },
            showBonusInfo() {
                $('#infoModalBonus').modal('show');
            },
            showSalaryInfo2() {
                $('#infoSalaryModal').modal('show')
            }
        }
    });
</script>
</body>
</html>