<!DOCTYPE html>
<html>
<head>
    <title>Leadorub kabinet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<div id="app">
    
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div style="display: flex; align-items: center;">
            <img src="logo.jpg" style="height: 40px; max-width: 40px; margin-right: 10px; border-radius: 10px;">
            <p class="navbar-brand" style="font-family: cursive;">HBA-LeadCRM</p>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/logout" class="text-warning">Выйти</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="form-container mt-5">
        <form @submit.prevent="createLead">
            <div class="form-group">
                <label for="phone" class="text-light">Телефон:</label>
                <input type="text" class="form-control bg-dark text-light" id="phone" v-model="newLead.phone" required>
            </div>
            <div class="form-group">
                <label for="client_name" class="text-light">Имя клиента:</label>
                <input type="text" class="form-control bg-dark text-light" id="client_name" v-model="newLead.client_name" required>
            </div>
            <div class="form-group">
                <label for="comment" class="text-light">Коментарий к звонку:</label>
                <textarea class="form-control bg-dark text-light" id="comment" v-model="newLead.comment" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary">Создать лид</button>
        </form>
        <div v-if="message" class="mt-3 alert bg-dark text-primary">
            {{ message }}
        </div>
    </div>
</div>

<style>

body {
    background-color: rgb(20, 20, 20);
}
    
.form-container {
    margin-left: 20%;
    padding: 20px 20px;
    width: 60%;
    border-radius: 30px;
    border-color: rgb(214, 37, 37);
    /* я крч думаю везде въебать вот этой хуйни ну а хули зато заубеено ну хули нет шоли */
    -webkit-box-shadow: 0px 2px 11px 35px rgba(37, 77, 187, 0.319);
    -moz-box-shadow: 0px 2px 11px 35px rgba(37, 77, 187, 0.319);
    box-shadow: 0px 2px 23px 25px rgba(37, 77, 187, 0.319);
}

@media (max-width: 480px) {
    .btn-success {
        width: 100%;
    }
}

</style>

<script>
    new Vue({
        el: '#app',
        data: {
            newLead: {
                phone: '+7',
                client_name: '',
                comment: ''
            },
            message: null
        },
        methods: {
            createLead() {
                fetch('/api/leadorub/leads', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.newLead)
                })
                .then(response => {
                    if (response.ok) {
                        this.message = 'Лид успешно создан!';
                        this.newLead = {phone: '+7', client_name: '', comment: ''};
                    } else {
                        this.message = 'Ошибка создания лида.';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    this.message = 'Ошибка при отправке запроса.';
                });
            }
        }
    });
</script>
</body>
</html>